{% extends 'templates/blog.twig' %}

{% block title %}Home | {% endblock %}

{% block pageheader %}Recent Posts{% endblock %}

{% block content %}
    {% for article in article %}
        <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path_for('post.read', {('id'):article.id}) }}">{{ article.title }}</a></h4>
                <p class="text-justify">{{ article.content|slice(0, 320) }} <a href="{{ path_for('post.read', {('id'):article.id} ) }}">Readmore...</a></p>
                <i class="fa fa-user"> <a href="{{ login.username }}/{{ article.user_id }}">Ilham Arrouf</a></i>
                <i class="fa fa-calendar"> {{ article.created_at|date('d/m/Y') }} </i>
                <i class="fa fa-clock-o"> {{ article.created_at|slice(11,12) }}</i>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}

