{% extends 'templates/blog.twig' %}

{% block title %}Home | {% endblock %}

{% block pageheader %}Recent Posts{% endblock %}

{% block content %}
    <form method="post" action="{{ path_for('post.search') }}">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
        </div>
    </form>

    {% for article in article %}
        <div class="media">
            <div class="media-heading">
                <h4 class="media-heading"><a href="{{ path_for('post.read', {('id'):article.id}) }}">{{ article.title }}</a></h4>
            </div>
            <div class="media-body">
                <p class="text-justify">{{ article.content|slice(0, 320) }} <a href="{{ path_for('post.read', {('id'):article.id} ) }}">Readmore...</a></p>
                <i class="fa fa-user"> <a href="{{ path_for('post.name', {('id'):article.user_id}) }}">{{ article.user.username }}</a></i>
                <i class="fa fa-calendar"> {{ article.created_at|date('d/m/Y') }} </i>
                <i class="fa fa-clock-o"> {{ article.created_at|date("H:m") }}</i>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

